.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}


.item {
    position: relative;
    max-width: 80%;
    background-color: rgba(255, 255, 255, .4);
    padding: 50px;
    border-radius: 50px;

    &::before {
        content: '';
        position: absolute;
        left: -80px;
        top: 50%;
        background-color: rgba(255, 255, 255, .4);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: -53px;
        top: 159px;
        width: 5px;
        height: 241px;
        background-color: rgba(255, 255, 255, .4);
    }
}

.main {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.logo {
    border-radius: 20px;
}

.name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: var(--gray__500);
}

.date {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: var(--gray__500);
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
}

.location {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: var(--gray__500);
    margin-bottom: 10px;
    display: inline-block;
}