.about {
  padding-bottom: 100px;
}

.descr {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  line-height: 175%;
  color: white;
  min-height: 80px;
  max-width: 95%;
  font-weight: 600;
}

.slideBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
  height: 80%;
}

.git {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.github {
  background-color: #333333;
  border-radius: 50%;
}

.repos {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repoList {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
  align-items: center;
}

.repoItem {
  position: relative;
  width: calc((100% - 45px) / 4);
  height: 200px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--gray__400_common);
  outline: 1px solid var(--gray__200_common);
  z-index: 0;

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 2px;
    left: 50%;
    right: 2px;
    bottom: 10px;
    background-color: var(--gray__300_common);
    border-radius: 0 30px 30px 0;
  }

  &::after {
    z-index: 0;
    content: "";
    position: absolute;
    background-color: var(--gray__200_common);
    border-radius: 30px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 10px;
  }

  * {
    z-index: 10;
  }
}

.repoName {
  margin-top: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: white;
}

.me {
  display: inline-block;
  text-decoration: underline;
  margin-top: 15px;
  font-family: "Poppins";
  color: white;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.socialName {
  margin-top: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: white;
}

.socialItem {
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 80px 50px;
  }

  .descr {
    font-size: 18px;
  }

  .socialList {
    width: 100%;
    justify-content: space-around;
  }

  .socialName {
    display: none;
  }

  .slideBox {
    margin: 0 20px;
  }

  .repoName {
    display: none;
  }

  .repoList {
    flex-wrap: wrap;
  }

  .repoItem {
    background-color: transparent;
    outline: 0;
    height: initial;

    &::after,
    &::before {
      background-color: transparent;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 680px) {
  .container {
    padding: 80px 20px;
  }

  .slideBox {
    gap: 40px;
  }
  .descr {
    font-size: 14px;
  }

  .repos {
    justify-content: center;
  }

  .repoList {
    gap: 20px;
    row-gap: 40px;
    height: initial;
  }

  .repoItem {
    width: 60px;
    height: 60px;
  }

  .git {
    width: 80px;
    height: 80px;
  }

  .me {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .about {
    padding-bottom: 0;
  }

  .container {
    padding-bottom: 0;
  }
  
  .descr {
    font-size: 12px;
    height: 80%;
    width: 90%;
  }

  .repos {
    display: none;
  }

  .slideBox {
    justify-content: center;
  }

  .me {
    font-size: 20px;
  }

  .git {
    width: 150px;
    height: 180px;
  }

  .socialList {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;

    .socialItem {
      width: 50px;
      height: 50px;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      justify-content: flex-start;
      padding: 15px 0px;

      .socialName {
        display: block;
        font-size: 11px;
      }
    }
  }
}
