.education {
  padding-bottom: 120px;
}

@media (max-width: 1200px) {
  .container {
    padding: 80px 50px;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 80px 20px;
  }

  .box {
    padding: 20px;
  }
}
