*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  body {
    min-width: 320px;
    font-weight: 400;
    font-family: "Poppins", "Inter", sans-serif;
    background-color: var(--background-color);
    margin: 0 auto;
    img {
      max-width: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    button {
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }
  }
}

.hidden {
  display: none !important;
}
.swiper {
  width: 85%;
  height: 300px;
  background: var(--outline);
  border-radius: 40px;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root[data-theme="dark"] {
  --silver: #aaaaaa;
  --gray__400: #ffffff;
  --gray__500: #f5f5f5;
  --gray__700: #d5d5d5;
  --gray__750: #ffffff;
  --outline: #007ced;
  --background-color-light: rgba(255, 255, 255, .4);
  --background-color: #222222;
  --swiper-theme-color: #54ca95;
  --gray__200_common: #999999;
  --gray__300_common: #888888;
  --gray__400_common: #666666;
}

:root[data-theme="light"] {
  --silver: #aaaaaa;
  --gray__200_common: #999999;
  --gray__300_common: #888888;
  --gray__400_common: #666666;
  --gray__400: #222222;
  --gray__500: #333333;
  --gray__700: #666666;
  --gray__750: #666666;
  --outline: #54ca95;
  --background-color-light: rgba(0, 0, 0, .4);
  --background-color: #ffffff;
  --swiper-theme-color: #007ced;
}

@media (max-width: 1200px) {
  .swiper {
    width: 100%;
  }
}