.mailMe {
  position: relative;
  width: calc((100% - 40px) / 2);
}

.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  line-height: 120%;
  color: var(--gray__500);
}

.top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .input,
  .textarea {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);

    &,
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  .textarea {
    min-height: 300px;
  }
}

.button {
  border-radius: 30px;
  padding: 13px 31px;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  font-weight: bold;
  color: var(--outline);
  background-color: #ffffff;
}

.cover {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
  font-size: 50px;
  padding: 60px;
  font-weight: 900;
  color: #222;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.active {
  opacity: 0.8;
  z-index: 100;
}

@media (max-width: 1200px) {
  .mailMe {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .top {
    gap: 10px;
  }

  .title {
    font-size: 18px;
  }
  .mailMe {
    padding: 30px;
  }
  .inputs {
    .input,
    .textarea {
      padding: 10px;
      border-radius: 10px;

      &,
      &::placeholder {
        font-size: 14px;
      }
    }

    .textarea {
        min-height: 200px;
    }
  }
}
